version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: 'ecommerce_db' # तुमच्या डेटाबेसचे नाव इथे टाका
      MYSQL_ROOT_PASSWORD: 'root'
    ports:
      - "3306:3306"

  web:
    build: .
    ports:
      - "8080:80"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: root
      DB_NAME: your_db_name